body{
    background-color: aliceblue;
}
div.userCenter{
    margin-left: 2cm;
    margin-top: 10px;
    background-color: white;
    width: 10cm;
    height: 17cm;
    float: left;
}
div.stacks{
    height: 17cm;
    width: 25cm;
    margin-left: 12.5cm;
    margin-top: 10px;
    overflow-y: auto;
    overflow-x: auto;
}
div.stack{
    width: 10cm;
    height: 3cm;
    border-color: aqua;
    border-width: 3px;
    border-style: solid;
    margin-top: 0.5cm;
    margin-left: 2cm;
}
a.sName{
    display: block;
    margin-left: 0;
}
img{
    width: 4cm;
    height: 5cm;
    margin-left: 2cm;
}
input{
    margin-left: 2cm;
    margin-top: 0.5cm;
}
p{
    margin-top: 0.5cm;
    margin-left: 2cm;
}
p.notice{
    margin-top: 0.5cm;
    margin-left: 2cm;
    color: red;
}
p.description{
    margin-left: 0cm;
    margin-top: 0.5cm;
}
form.changePswd{
    display: none;
}
textarea{
    margin-left: 2cm;
    margin-top: 0.5cm;
}